body{
    background: linear-gradient(90deg, #FFEFBA 0%, #FFFFFF 100%);
    

}
nav{
    background: linear-gradient(90deg, #FFEFBA 0%, #FFFFFF 100%);

}
button{
    background: linear-gradient(90deg, #FFE259, #FFA751);
    background: linear-gradient(90deg, #FF4E50 0%, #F9D423 100%);
    padding: 5px, 26px, 5px, 26px;
}
.social{
    display: flex;
    justify-content: space-between;
}
.btn1{
    display: flex;
    justify-content: space-around;
    padding: , 26px, 26px;
}
@media screen and (min-width:300) and (max-width:570){
    h1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}